/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.66%;
}
.span_10_of_12 {
  	width: 83.33%;
}

.span_9_of_12 {
  	width: 75%;
}

.span_8_of_12 {
  	width: 66.66%;
}

.span_7_of_12 {
  	width: 58.33%;
}

.span_6_of_12 {
  	width: 50%;
}

.span_5_of_12 {
  	width: 41.66%;
}

.span_4_of_12 {
  	width: 33.33%;
}

.span_3_of_12 {
  	width: 25%;
}

.span_2_of_12 {
  	width: 16.66%;
}

.span_1_of_12 {
  	width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 599px) {
	.col {  margin: 1% 0 1% 0%; }

    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%;
	}
}

/* MASONRY */
.grid {
	box-sizing: border-box;
}
.grid-item {
	width: 100%;
	@include for-tablet-portrait-up {
		width: 50%;
	//padding-bottom: 70px;
		// &:last-child {
		// 	padding-bottom: 0;
		// }
	}
	@include for-tablet-landscape-up{
		//padding-bottom: 70px;
	}
	@include for-desktop-up {
		//padding-bottom: 100px;
	}
}
.gridImg {
	position:relative;
	max-width: 100%;
	display: block;
	max-height: 270px;
	@include for-tablet-portrait-up {
	  margin: 0 auto;
		max-height: 10000px;
	}
	@include for-tablet-landscape-up {
		margin: 0;
		//position: absolute;
	}
	@include for-desktop-up {
		width: 100%;

	}
}
.gridTxt {
	p {
		@include bodyText;
		margin-bottom: 10px;
	}
}
.gridHeader {
	@include subHeader;
	margin-top: 0;
}
