.header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
  a {
    text-decoration: none;
    display: inline-block;
  }
}
.logo {
  width: 49px;
  height: auto;
  @include for-phone-only {
    margin-top: 35px;
  }
  margin-top: 47px;
  margin-left: 20px;
  @include for-tablet-landscape-up {
    margin-left: 53px;
  }
}
.nav {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.menu {
  display: none;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  background-color: $white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;


  @include for-tablet-landscape-up {
    position: relative;
    opacity: 1;
    vertical-align: middle;
    float: right;
    clear: both;
    margin-right: 53px;
    margin-top: 47px;
    display: inline-block;
    height: auto;
    width: auto;
    opacity: 1;
    background-color: rgba(255,255,255,0);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    margin-top: 100px;

    @include for-tablet-landscape-up {
      margin-top: 0;
    }
  }
  li {
    display: block;
    text-align: center;
    margin-bottom: 10px;

    @include for-tablet-landscape-up {
      display: inline-block;
      padding-left: 20px;
      text-align: left;
    }

    a {
      text-decoration: none;
      @include bodyText;
      font-size: 24px;
      @include for-tablet-landscape-up {
        font-size: 18px;
      }
    }
  }
}
.mobile-menu {
  z-index: 10;
  float: right;
  clear: both;
  margin-right: 20px;
  margin-top: 35px;
  position: relative;
  height: 21px;
  // height: 30px;
  width: 40px;
  overflow: hidden;

  @include for-tablet-landscape-up {
    display: none;
  };
}
.bar-menu {
  width: 40px;
  height: 3px;
  border-radius: 4px;
  background-color: $red;
  display: block;
  position: absolute;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;

  &:first-child {
    top: 0;
  }
  &:nth-child(0n+2) {
    // top: 14px;
    top: 9px;
  }
  &:nth-child(0n+3) {
    bottom: 0;
  }

}
.menu-active {
  position: relative;

  div:nth-child(0n+1) {
    position: absolute;
    // -ms-transform: rotate(29deg); /* IE 9 */
    // -webkit-transform: rotate(29deg); /* Chrome, Safari, Opera */
    // transform: rotate(29deg);
    -ms-transform: rotate(28deg); /* IE 9 */
    -webkit-transform: rotate(28deg); /* Chrome, Safari, Opera */
    transform: rotate(28deg);
    // top: 13px;
    top: 9px;
  }
  div:nth-child(0n+2) {
    display: none;
  }
  div:nth-child(0n+3) {
    // -ms-transform: rotate(-29deg); /* IE 9 */
    // -webkit-transform: rotate(-29deg); /* Chrome, Safari, Opera */
    // transform: rotate(-29deg);
    -ms-transform: rotate(-28deg); /* IE 9 */
    -webkit-transform: rotate(-28deg); /* Chrome, Safari, Opera */
    transform: rotate(-28deg);
    // bottom: 14px;
    bottom: 9px;

  }
}

//Active menu item underline for tablet landscape & desktop
body.page-template-template-contact {
  @include for-tablet-landscape-up {
    .menu li.current_page_item {
      a:after {
        content: '';
        display: block;
        background: black;
        height: 2px;
        max-width: 20px;
        width: 100%;
        margin-top: 13px;
      }
    }
  }
}
body.page-template-template-historia {
  @include for-tablet-landscape-up {
    .menu li.current_page_item {
      a:after {
        content: '';
        display: block;
        background: black;
        height: 2px;
        width: 20px;
        //width: 100%;
        margin-top: 13px;
      }


      }
    }
  }

body.page-template-template-produkter {
  @include for-tablet-landscape-up {
    .menu li.current_page_item {
      a:after {
        content: '';
        display: block;
        background: black;
        height: 2px;
        max-width: 20px;
        width: 100%;
        margin-top:13px;
      }
    }
  }

}
