.historyWrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.imgContainer--history {
  display: block;
  min-height: 200px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 35px;
  @include for-tablet-portrait-up {
    padding-bottom:3vw;
  }
  @include for-tablet-landscape-up {
    min-height: 300px;
      padding-bottom: 70px;
  }
  @include for-desktop-up {
    min-height: 350px;
  }
}

.txtContainer--history {
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 35px 35px 35px;
  &.padding-top{
      padding-top: 35px;
  }
  @include for-tablet-portrait-up {
    padding-top: 0px;
    padding-left: 3vw;
    padding-bottom: 3vw;
    padding-right: 3vw;
    &.padding-top{
        padding-top: 3vw;
    }
  }
  @include for-tablet-landscape-up {
    padding: 0px 70px 70px 70px;
    &.padding-top{
        padding-top:70px;
    }
  }

}
.txtContent--history {
  @include bodyText;
  padding: 0;
  margin: 0;

  p + p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
