
/* COLORS */
$yellow: #ffef36;
$grey: #b4b5b4;
$white: #ffffff;
$red: #e80031;
$black: #000000;
$footerBlack: #1a1919;


/* FONTS */
@font-face {
  font-family: 'Bullens-Light';
  src: url('fonts/Bullens-Light.otf') format('otf'),
       url('fonts/bullens-light-webfont.woff2') format('woff2'),
       url('fonts/bullens-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bullens-Bold';
  src: url('fonts/Bullens-Bold.otf') format('otf'),
       url('fonts/bullens-bold-webfont.woff2') format('woff2'),
       url('fonts/bullens-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeue.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeveticaNeue-Bold';
  src: url('fonts/HelveticaNeueBd.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
