@import "scss/normalize.scss";

@import "scss/variables";
@import "scss/mixins";
@import "scss/grid.scss";
@import "scss/header-&-menu";
@import "scss/footer";
@import "scss/single-product";
@import "scss/all-products";
@import "scss/history.scss";
@import "scss/campaign.scss";

/* General styling */

/* Fallback header styling */
h1, h2, h3, h4 {
  @include subHeader;
}

p {
  margin: 0;
}

.pageContentWrapper--no-img {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 100px;

  @include for-tablet-portrait-up {
    padding-top: 100px;
  }
  @include for-tablet-landscape-up {
    padding-top: 200px;
  }
}
.pageContentWrapper--img {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
.maxWidth {
  max-width: 1440px;
  margin: 0 auto;
}

.topImgContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh;

  @include for-phone-only {
    background-size: auto 100%;
    background-position: center right -130px;
  }
  @include for-tablet-portrait-up {
    height: 50vh;
  }
  @include for-tablet-landscape-up {
    height: 100vh;
  }
}
.topImg {
  width: 100%;
  height: 210px;
  @include for-tablet-portrait-up {
    height: 435px;
  }
  @include for-tablet-landscape-up {
    height: 575px;
  }
  @include for-desktop-up {
    height: 1100px;
  }

}
.pageHeaderContainer {
  position: absolute;
  top: 10%;
  padding: 35px 35px 35px 20px;
  box-sizing: border-box;

  @include for-tablet-portrait-up {
    position: absolute;
    top: 50%;
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform: translateY(-50%);
    padding: 0 0 0 54px;
  }
  @include for-tablet-landscape-up {
    top: 50%;
  }
  @include for-desktop-up {
    top: 50%;
  }
}
.pageHeader {
  @include mainHeader;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.subHeader {
  @include subHeader;
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
}
a {

    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
}
.topSlider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.activeSlide {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  width: 100%;
  -webkit-transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.inactiveSlide {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  -webkit-transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.slideSelector {
  position: absolute;
  bottom: 35px;
  display: table;
  z-index: 4;
  position: absolute;
  bottom: 6%;
  left: 50%;
  @include for-phone-only {
    margin-right: 50%;
    transform: translate(-50%, -50%);
  }
  @include for-tablet-portrait-up {
    left: 0;
    bottom: 530px;
    padding-left: 54px;
  }
  @include for-tablet-landscape-up {


    bottom: 44px;
  }

}
.sliderNum {
  display: table-cell;
  padding: 0 5px 0px 5px;
  vertical-align: middle;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  //line-height: 1.55;
  text-align: left;
  color: $black;
  cursor: pointer;
}
.sliderNum.active {
  font-weight: bold;
  //line-height: 1.55;
}
.prev {
  background-image: url('img/icons/arrow-prev.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  display: inline-block;
  cursor: pointer;
}
.next {
  background-image: url('img/icons/arrow-next.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  display: inline-block;
  cursor: pointer;
}
.numDiv {
  display: inline-block;
  padding-bottom: 3px;
}

//Positioning for img containers
.imgRight {
  display: inline-block;
  @include for-tablet-portrait-up {
    float: right;
    clear: both;
  }
}
.imgLeft {
  display: inline-block;
  @include for-tablet-portrait-up {
    float: left;
    clear: both;
  }
}

.puffWrapper {
  max-width: 1440px;
  margin: 0 auto;
}


.puffTxtContainer {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 35px 35px 35px 35px;
  @include for-tablet-portrait-up {
    height: 300px;
  }
  @include for-tablet-landscape-up {
    padding: 50px 50px 50px 50px;
    height: 350px;
  }

  @include for-desktop-up {
    padding: 70px 70px 70px 70px;
    height: 400px;
  }

}
.puffContent {
  overflow: hidden;
  box-sizing: border-box;
  @include bodyText;
  padding: 0;
  margin: 0;
  @include for-tablet-portrait-up {
    font-size: 14px;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  @include for-tablet-landscape-up {
    font-size: 16px;
  }
  @include for-desktop-up {
    font-size: 18px;
    line-height: 1.667;
  }
  a {
    color: $black;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
a {
  .puffHeader {
    &:hover {
      text-decoration: underline;
    }
  }
}
.puffHeader {

  margin-top: 0;
  margin-bottom: 10px;
  @include for-tablet-landscape-up {
    margin-bottom: 20px;
  }
}
.puffDivider {
  p {
    display: inline;
  }
}

.puffImgContainer {
  display: block;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;

  @include for-tablet-portrait-up {
    height: 300px;
  }
  @include for-tablet-landscape-up {
    height: 350px;
  }
  @include for-desktop-up {
    height: 400px;
  }
}
.puffImg {
  @include for-desktop-up {
    width: 100%;
  }
}

.contactWrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  min-height: 65vh;
  @include for-tablet-portrait-up {
    padding-top: 130px;
  }
  @include for-desktop-up {
    padding-top: 200px;
  }
}
.txtFieldImgContainer {
  display: inline-block;
  height: 250px;
  overflow: hidden;
  position: relative;
  @include for-tablet-portrait-up {
    height: 300px;
  }
  @include for-tablet-landscape-up {
    height: 400px;
  }
}
.txtFieldImgContainer--single {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  position: relative;
  @include for-tablet-portrait-up {
    height: 300px;
  }
  @include for-tablet-landscape-up {
    height: 400px;
  }
}
.txtFieldHeader {
  margin-top: 0;
}
.txtField {
  @include bodyText;
  p + p {
    margin-bottom: 10px;
  }
  a {
    color: $black;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

}
.txtFieldImg {
  height: auto;
  width: 100%;
  top: 0;
  right: 0;
}
.txtFieldContainer {
  display: inline-block;
  box-sizing: border-box;
  padding: 35px 35px 35px 35px;
  float: right;
  @include for-tablet-portrait-up {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-bottom: 3vw;
    padding-right: 3vw;
  }
  @include for-tablet-landscape-up {
    padding: 70px 70px 70px 70px;
  }
}
